@import '../../theme/variables';
@import '../../theme/mixins';

ion-segment {
  background: var(--ion-color-primary) !important;

  ion-segment-button {
    --background: var(--ion-color-primary);
    --background-checked: var(--ion-color-primary);
    --indicator-color-checked: #fff;
    --color: #{$text-unfocused};
    --color-checked: #fff;

    section {
      @include flex-center();

      ion-label {
        padding-right: 8px;
      }

      .notification-dot {
        display: none;
        border: none;
        background: $text-unfocused;

        &.visible {
          display: block;
        }
      }
    }

    &.segment-button-checked .notification-dot {
      background: #fff !important;
    }
  }
}

ion-segment.ios {
  padding: 6px 16px;
  background: $off-white;

  ion-segment-button {
    --background: #fff;
    --color: var(--ion-color-primary);

    .notification-dot {
      background: var(--ion-color-danger);
    }
  }
}

ion-refresher {
  z-index: 0;
}

.data-container {
  padding-top: 8px;
}
