<ion-header>
	<ion-toolbar>
		<!-- Back button -->
		<ion-buttons slot="start">
			<ion-button (click)="closeModal()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>

		<!-- Title -->
		<ion-title>{{ "helps." + _id + ".title" | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-off-white custom-container">
	<ion-img
		*ngIf="_hasImage"
		class="ion-margin-bottom"
		[src]="'assets/images/helps/' + _id + '.jpg'"
		alt="Help image"
		(click)="onImgClick('assets/images/helps/' + _id + '.jpg')"
	></ion-img>

	<div [innerHTML]="_text"></div>
</ion-content>
