@import "../../../../../theme/variables";

section {
  color : $text-primary;

  .heading {
    font-size     : $font-body-lg;
    font-weight   : 500;
    margin-bottom : 32px;
  }

  .or {
    text-align : center;
    color      : $text-secondary;
  }

  hr {
    background : #CDCDCD;
    height     : 1px;
    margin     : 20px 0;
  }

  .code {
    text-align  : center;
    font-size   : $font-title-lg;
    font-weight : 500;
  }

  .btn-cancel-container {
    display         : flex;
    justify-content : flex-end;
    margin-top      : 30px;
  }

}
