<section class="ion-padding">
	
	
	<p class="heading">{{"page-new-obs.modal-choices.heading" | translate}}</p>
	
	
	<ion-button expand="block" color="primary">
		
		<ion-icon slot="start" name="ios-send"></ion-icon>
		
		{{"page-new-obs.modal-choices.btn-send" | translate}}
	
	</ion-button>
	
	
	<p class="or ion-margin">{{"page-new-obs.modal-choices.or" | translate}}</p>
	
	
	<ion-button expand="block" color="primary">
		
		<ion-icon slot="start" name="ios-flask"></ion-icon>
		
		{{"page-new-obs.modal-choices.btn-add" | translate}}
	
	</ion-button>
	
	
	<div>
		
		
		<hr>
		
		
		<p class="msg-call">{{"page-new-obs.modal-choices.msg-call-1" | translate}}</p>
		
		
		<ion-button expand="block" color="primary" class="ion-margin" fill="outline">
			
			<ion-icon slot="start" ios="ios-call" md="md-call"></ion-icon>
			
			3349939444
		
		</ion-button>
		
		
		<p class="msg-call ion-margin-bottom">{{"page-new-obs.modal-choices.msg-call-2" | translate:_msgParam}}</p>
		
		
		<p class="code">1234</p>
	
	
	</div>
	
	
	<div class="btn-cancel-container">
		
		<ion-button size="small" color="primary" fill="clear">
			{{"common.alerts.btn-cancel" | translate}}
		</ion-button>
	
	</div>


</section>
