<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-menu-button menu="main"></ion-menu-button>
		
		</ion-buttons>
		
		<ion-title>{{"drawer.item-map" | translate}}</ion-title>
		
		<ion-buttons slot="end">
			
			<ion-button (click)="onSyncClick()">
				
				<ion-icon slot="icon-only" name="sync"></ion-icon>
				
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>

<ion-content>
	
	
	<!-- Map -->
	<div id="map"></div>
	
	
	<!-- FAB layers -->
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		
		<ion-fab-button color="light" size="small">
			
			<i class="material-icons">layers</i>
		
		</ion-fab-button>
	
	</ion-fab>
	
	
	<!-- FAB gps -->
	<ion-fab class="fab-secondary" vertical="bottom" horizontal="end" edge slot="fixed">
		
		<ion-fab-button color="light" [class.follow]="_isMapFollowing" (click)="onGPSClick()">
			
			<i class="material-icons">{{ _locationStatus === _locationErrors.NO_ERROR ? "gps_fixed" : "gps_off" }}</i>
		
		</ion-fab-button>
	
	</ion-fab>
	
	
	<!-- FAB add -->
	<ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
		
		<ion-fab-button [routerLink]="['/', 'observations', 'new']">
			
			<ion-icon name="add"></ion-icon>
		
		</ion-fab-button>
	
	</ion-fab>


</ion-content>
