<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-menu-button menu="main"></ion-menu-button>
		
		</ion-buttons>
		
		<ion-title>{{"drawer.item-map" | translate}}</ion-title>
		
		<ion-buttons slot="end">
			
			<ion-button>
				<ion-icon slot="icon-only" name="sync"></ion-icon>
			</ion-button>
			
			<ion-button>
				<ion-icon slot="icon-only" name="funnel"></ion-icon>
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>

<ion-content>
	
	
	<!-- Map -->
	<div id="map"></div>
	
	
	<!-- FAB gps -->
	<ion-fab class="fab-secondary" vertical="bottom" horizontal="end" slot="fixed">
		
		<ion-fab-button color="light" (click)="onGPSClick()">
			
			<ion-icon name="locate"></ion-icon>
		
		</ion-fab-button>
	
	</ion-fab>
	
	
	<!-- FAB add -->
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		
		<ion-fab-button (click)="onAddClick()">
			
			<ion-icon name="add"></ion-icon>
		
		</ion-fab-button>
	
	</ion-fab>


</ion-content>
