<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">

            <ion-menu-button menu="main"></ion-menu-button>

        </ion-buttons>

        <ion-title>{{"drawer.item-events" | translate}}</ion-title>

        <ion-buttons slot="end">

            <ion-button>

                <ion-icon name="funnel"></ion-icon>

            </ion-button>

        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content class="outer-content custom-container">

    <!-- Pull down to refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">

        <ion-refresher-content></ion-refresher-content>

    </ion-refresher>

    <!-- Spinner -->
    <section *ngIf="isLoading" class="central-spinner">

        <ion-spinner color="primary"></ion-spinner>

    </section>

    <!-- Main content -->
    <section *ngIf="!isLoading">

        <!-- Communications -->
        <ion-card *ngIf="communications.length > 0">

            <ion-card-content class="ion-no-padding">

                <ion-list class="ion-no-padding">

                    <ion-item *ngFor="let c of communications"
                              button detail="false"
                              [routerLink]="['/', 'events', 'communication', c.id]">

                        <app-communication-item [item]="c"></app-communication-item>

                    </ion-item>

                </ion-list>

            </ion-card-content>

        </ion-card>

        <!--        <div class="card-header">{{"page-events.header-events" | translate}}</div>-->

    </section>

</ion-content>
