$color-border: #e1e1e1;

.val-input {
  --background: #fff;
  margin-bottom: 8px;
  border: 1px solid $color-border;
  border-radius: 5px;

  &.no-margin {
    margin-bottom: 0;
  }

  ion-label {
    opacity: 0.5;
  }

  &.item-has-focus {
    ion-label {
      opacity: 1;
    }
  }
}
