<ion-header>
	
	<ion-toolbar>
		
		<!-- Back button -->
		<ion-buttons slot="start">
			
			<ion-button (click)="closeModal(false)">
				
				<ion-icon name="close"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
		
		<!-- Title -->
		<ion-title>{{"page-new-obs.details.fauna.title" | translate}}</ion-title>
		
		<!-- Right buttons -->
		<ion-buttons slot="end">
			
			<!-- Check button -->
			<ion-button (click)="closeModal(true)">
				
				<ion-icon name="checkmark"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>


<ion-content class="bg-off-white custom-container">
	
	<!--suppress TypeScriptValidateTypes -->
	<section *ngFor="let prop of _props | keyvalue: _originalOrder">
		
		<ion-card class="ion-no-margin card-radio-list">
			
			<ion-card-content>
				
				
				<!-- Category  -->
				<ion-item lines="none" class="no-bg">
					
					<ion-label>{{"page-new-obs.details.fauna." + prop.key | translate}}</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.checked"></ion-checkbox>
				
				</ion-item>
				
				
				<!-- Deceased -->
				<ion-item *ngIf="prop.value.checked" lines="none" class="no-bg sub-list">
					
					<ion-label class="label-flex">
						
						<p class="head">{{"page-new-obs.details.fauna.deceased.head" | translate}}</p>
						
						<p *ngIf="prop.value.deceased.checked"
						   class="link"
						   (click)="onDeceasedNumberClick($event, prop.key.toString())">
							
							<span *ngIf="!prop.value.deceased.number">
								{{"page-new-obs.details.fauna.deceased.number-add" | translate}}
							</span>
							
							<span *ngIf="prop.value.deceased.number">
								{{"page-new-obs.details.fauna.deceased.number-edit" | translate}}
							</span>
						
						</p>
					
					</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.deceased.checked"></ion-checkbox>
				
				</ion-item>
				
				
				<!-- Abnormal  -->
				<ion-item *ngIf="prop.value.checked" lines="none" class="no-bg sub-list">
					
					<ion-label class="label-flex-col">
						
						<p class="head">{{"page-new-obs.details.fauna.abnormal.head" | translate}}</p>
						
						<p *ngIf="prop.value.abnormal.checked"
						   class="link"
						   (click)="onAbnormalDetailsClick($event, prop.key.toString())">
							
							<span *ngIf="!prop.value.abnormal.details">
								{{"page-new-obs.details.fauna.abnormal.details-add" | translate}}
							</span>
							
							<span *ngIf="prop.value.abnormal.details">
								{{"page-new-obs.details.fauna.abnormal.details-edit" | translate}}
							</span>
						
						</p>
					
					</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.abnormal.checked"></ion-checkbox>
				
				</ion-item>
				
				
				<!-- Alien  -->
				<ion-item *ngIf="prop.value.checked" lines="none" class="no-bg sub-list">
					
					<ion-label class="label-flex">
						
						<p class="head">{{"page-new-obs.details.fauna.alien.head" | translate}}</p>
						
						<p *ngIf="prop.value.alien.checked"
						   class="link"
						   (click)="onAlienSpeciesClick($event, prop.key.toString())">
							
							<span *ngIf="prop.value.alien.species.length === 0">
								{{"page-new-obs.details.fauna.alien.species-add" | translate}}
							</span>
							
							<span *ngIf="prop.value.alien.species.length !== 0">
								{{"page-new-obs.details.fauna.alien.species-edit" | translate}}
							</span>
						
						</p>
					
					</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.alien.checked"></ion-checkbox>
				
				</ion-item>
			
			
			</ion-card-content>
		
		</ion-card>
	
	</section>

</ion-content>
