@import "../../shared";

$indent : 16px;


.custom-container { --padding-top : 24px }


.sub-property {
  margin      : 8px 16px 0 16px;
  color       : #000000;
}


.deceased-number {
  display     : flex;
  align-items : center;

  p { margin-right : 16px }

}
