<ion-header>
	
	<ion-toolbar>
		
		<!-- Back button -->
		<ion-buttons slot="start">
			
			<ion-button (click)="closeModal(false)">
				
				<ion-icon ios="ios-close" md="md-close"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
		
		<!-- Title -->
		<ion-title>{{"page-new-obs.details.fauna.title" | translate}}</ion-title>
		
		<!-- Right buttons -->
		<ion-buttons slot="end">
			
			<!-- Help button -->
			<ion-button (click)="onHelpClick()">
				
				<ion-icon name="help-circle-outline"></ion-icon>
			
			</ion-button>
			
			<!-- Check button -->
			<ion-button (click)="closeModal(true)">
				
				<ion-icon name="checkmark"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>


<ion-content class="bg-off-white custom-container">
	
	<section *ngFor="let prop of _props | keyvalue: _originalOrder">
		
		<ion-card class="ion-no-margin card-radio-list">
			
			<ion-card-content>
				
				<!-- Category  -->
				<ion-item lines="none" class="no-bg">
					
					<ion-label>{{"page-new-obs.details.fauna." + prop.key | translate}}</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.checked"></ion-checkbox>
				
				</ion-item>
				
				<!-- Deceased -->
				<ion-item *ngIf="prop.value.checked" class="no-bg sub-list ion-align-items-start">
					
					<ion-label>
						
						<p>{{"page-new-obs.details.fauna.deceased.head" | translate}}</p>
						
						<p *ngIf="prop.value.deceased.checked" >
							{{"page-new-obs.details.fauna.deceased.number" | translate}}
						</p>
					
					</ion-label>
					
					<ion-checkbox slot="start"
								  color="primary"
								  [(ngModel)]="prop.value.deceased.checked"></ion-checkbox>
				
				</ion-item>
			
			</ion-card-content>
		
		</ion-card>
	
	</section>

</ion-content>
