@import '../../theme/variables';

section {
  margin-bottom: 32px;

  &.last {
    margin-bottom: 24px;
  }
}

ion-card-content {
  color: $text-primary;
}

.text-secondary {
  font-style: italic;
  color: $text-tertiary;
}

#interreg {
  ion-card-content {
    p {
      margin-bottom: 16px;
    }

    ion-img {
      margin-top: 16px;
    }

    .img-container {
      display: flex;
      justify-content: center;
      width: 100%;

      ion-img {
        width: 60%;
      }
    }
  }
}

#partners {
  ion-card-content {
    p:not( :last-child ) {
      margin-bottom: 8px;
    }
  }
}
