@import "../../../theme/variables";

$color-border : #E1E1E1;

.val-input {
  --background  : #FFFFFF;
  border-radius : 5px;
  border        : 1px solid $color-border;
  margin-bottom : 8px;

  &.no-margin {
    margin-bottom : 0;
  }

  ion-label {
    opacity: 0.5;
  }

  &.item-has-focus {
    ion-label {
      opacity: 1;
    }
  }

}

.small {
  font-size: $font-body-small;

  &.terms {
    margin-top: 24px;
    text-align: center;
  }

  &.password-rules {
    margin: 4px 0 8px 0;
  }

}
