<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">

            <ion-back-button text="" icon="close" default-href="/surveys"></ion-back-button>

        </ion-buttons>

        <ion-title *ngIf="currIdx" class="ion-text-center">
            {{ currIdx }} of {{ survey.questions.length }}
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="outer-content custom-container">

    <div *ngIf="!currIdx" class="intro">

        <div class="title">{{ survey.title }}</div>

        <div class="tag">
            Please, answer to the following {{survey.questions.length}} simple questions. It will only take
            you a couple of minutes and you will help us improve our service. Thank you!
        </div>

        <ion-button expand="block"
                    color="primary"
                    (click)="onStart()">
            start
        </ion-button>

        <ion-button fill="clear"
                    size="default"
                    expand="undefined"
                    class="backBtn"
                    (click)="onBackClicked()">
            Go back
        </ion-button>

    </div>

    <ion-slides *ngIf="currIdx" #slider [options]="slideOpts">

        <ion-slide *ngFor="let question of survey.questions"
                   class="ion-text-left ion-align-items-start">

            <div class="heading">

                <div class="card-header">Question {{ question.position }}</div>

                <div class="question">{{ question.body }}</div>

            </div>

            <ion-card>

                <ion-card-content class="ion-no-padding">

                    <ion-list *ngIf="question.type === QuestionType.singleAnswer" class="ion-no-padding">

                        <ion-radio-group>

                            <ion-item>

                                <ion-label>Answer 1</ion-label>
                                <ion-radio slot="start" value="1" checked=""></ion-radio>

                            </ion-item>

                            <ion-item>

                                <ion-label>Answer 2</ion-label>
                                <ion-radio slot="start" value="2" checked=""></ion-radio>

                            </ion-item>

                            <ion-item>

                                <ion-label>Answer 3</ion-label>
                                <ion-radio slot="start" value="3" checked=""></ion-radio>

                            </ion-item>

                            <ion-item>

                                <ion-label>Answer 4</ion-label>
                                <ion-radio slot="start" value="4" checked=""></ion-radio>

                            </ion-item>

                        </ion-radio-group>

                    </ion-list>

                    <ion-textarea *ngIf="question.type === QuestionType.freeText"
                                  placeholder="Your answer...">
                    </ion-textarea>

                </ion-card-content>

            </ion-card>

            <div class="buttons ion-text-center">

                <ion-button expand="block"
                            color="primary"
                            class="ion-no-margin"
                            (click)="onNext(question.position)">
                    next
                </ion-button>

                <ion-button *ngIf="question.position > 1"
                            fill="clear"
                            size="default"
                            expand="undefined"
                            class="backBtn"
                            (click)="onBack()">
                    Back
                </ion-button>

            </div>

        </ion-slide>

    </ion-slides>

</ion-content>
