<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-back-button></ion-back-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>


<ion-content class="bg-off-white custom-container">
	
	<div class="title">
		{{ locale === "en" && alert.titleEng ? alert.titleEng : alert.titleIta }}
	</div>
	
	<div class="date">
		{{ alert.dateStart | date:undefined:undefined:locale}}
	</div>
	
	<div class="content">
		{{ locale === "en" && alert.contentEng ? alert.contentEng : alert.contentIta }}
	</div>

</ion-content>

