ion-item {
  --background    : #F7F7FA;
  --padding-start : 16px;

  .container {
    width   : 100%;
    padding : 16px 0;
    display : flex;

    .start-element { padding-right : 16px }

    .content {
      width          : 100%;
      display        : flex;
      flex-direction : column;

      .date {
        color          : #666666;
        font-size      : 14px;
        padding-bottom : 8px;
        line-height    : 1;
      }

      .title {
        width        : 100%;
        display      : table;
        table-layout : fixed;

        span {
          display       : table-cell;
          white-space   : nowrap;
          overflow      : hidden;
          text-overflow : ellipsis;
        }

      }

    }

  }

}

