@import '../../../theme/variables';
@import '../shared';

$info-small-margin: 18px;
$section-margin-bottom: 32px;
$heading-margin-bottom: 4px;

.ripple-parent {
  position: relative;
  overflow: hidden;
}

main section {
  margin-bottom: $section-margin-bottom;

  .heading {
    font-size: $font-body-lg;
    color: $text-tertiary;
    display: flex;
    align-items: center;
    margin-bottom: $heading-margin-bottom;

    ion-icon {
      font-size: $font-title;

      &.main {
        margin-right: 14px;
      }

      &.btn-icon {
        padding: 12px;
      }

      &.icon-right {
        margin-left: auto;
      }
    }
  }
}

#location {
  ion-card-content {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 4px 8px 4px 16px;

    p {
      font-size: $font-body;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      margin: 0;
    }

    ion-icon {
      font-size: $font-title;
      color: $text-tertiary;
      padding: 12px 8px;
    }
  }
}

#weather {
  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-items: initial;

    div {
      color: $text-primary;
      text-align: center;
      width: 33%;

      .label {
        margin-bottom: 8px;

        &.sky {
          margin-bottom: 12px;
        }
      }

      .val {
        font-size: $font-body-lg;
        color: var(--ion-color-primary);
      }

      i {
        font-size: $font-title;
        color: var(--ion-color-primary);
      }
    }
  }
}

#photos {
  margin-bottom: 40px;

  .photos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .photo {
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border: 1px solid darken($color-border, 5);
      border-radius: 10px;

      i {
        color: var(--ion-color-primary);
      }

      ion-thumbnail {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#buttons {
  .or {
    color: $text-secondary;
    text-align: center;
  }
}

.skeleton {
  border-radius: 5px;

  .ske-info-sm {
    width: 40%;
    margin-bottom: $info-small-margin;
  }

  .ske-section {
    margin-bottom: $section-margin-bottom;
  }

  .ske-heading {
    line-height: $font-title;
    width: 50%;
    margin-bottom: $heading-margin-bottom * 2;
  }

  .ske-card-sm {
    line-height: 60px;
  }

  .ske-card-md {
    line-height: 100px;
  }

  .ske-card-xl {
    line-height: 350px;
  }

  .ske-btn-block {
    line-height: 45px;
  }
}

p.title.ios {
  margin: 0 !important;
}
