<ion-header>
	
	<ion-toolbar>
		
		<!-- Back button -->
		<ion-buttons slot="start">
			
			<ion-back-button class="back-button" defaultHref="map"></ion-back-button>
		
		</ion-buttons>
		
		<!-- Delete button -->
		<ion-buttons slot="end" *ngIf="!_isLoading && _obs?.uid === _userId">
			
			<ion-button (click)="onDeleteClick()">
				
				<ion-icon name="trash"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>


<ion-content class="bg-off-white custom-container">
	
	
	<section *ngIf="!_isLoading" class="content">
		
		
		<!-- Position -->
		<ion-card class="ion-no-margin sub-section-space" [ngClass]="_obs.position.open ? 'open' : ''">
			
			
			<ion-card-header (click)="onToggleClick('position')">
				
				<ion-card-subtitle>{{"page-info-obs.position.head" | translate}}</ion-card-subtitle>
				
				<i class="material-icons">keyboard_arrow_down</i>
			
			</ion-card-header>
			
			
			<ion-card-content *ngIf="_obs.position.open">
				
				<p>Coordinate: {{_obs.position.coordinates}}</p>
			
			</ion-card-content>
		
		
		</ion-card>
		
		
		<!-- Weather -->
		<ion-card class="ion-no-margin section-space" [ngClass]="_obs.weather.open ? 'open' : ''">
			
			
			<ion-card-header (click)="onToggleClick('weather')">
				
				<ion-card-subtitle>{{"page-info-obs.weather.head" | translate}}</ion-card-subtitle>
				
				<i class="material-icons">keyboard_arrow_down</i>
			
			</ion-card-header>
		
		
		</ion-card>
		
		
		<!-- Details -->
		<section *ngIf="_obs.details">
			
			
			<p class="card-header">{{"page-info-obs.details.head" | translate}}</p>
			
			
			<!-- Algae -->
			<ion-card *ngIf="_obs.details.algae"
					  class="ion-no-margin sub-section-space"
					  [ngClass]="_obs.details.algae.open ? 'open' : ''">
				
				<ion-card-header (click)="onToggleClick('details.algae')">
					
					<ion-card-subtitle>{{"page-info-obs.details.algae.head" | translate}}</ion-card-subtitle>
					
					<i class="material-icons">keyboard_arrow_down</i>
				
				</ion-card-header>
				
			</ion-card>
			
			
			<!-- Odours -->
			<ion-card *ngIf="_obs.details.odours"
					  class="ion-no-margin sub-section-space"
					  [ngClass]="_obs.details.odours.open ? 'open' : ''">
				
				<ion-card-header (click)="onToggleClick('details.odours')">
					
					<ion-card-subtitle>{{"page-info-obs.details.odours.head" | translate}}</ion-card-subtitle>
					
					<i class="material-icons">keyboard_arrow_down</i>
				
				</ion-card-header>
			
			</ion-card>
			
		
		</section>
	
	
	</section>


</ion-content>
