<div class="container">

    <div class="top-row">

        <div class="title">{{ survey.title }}</div>

        <div class="etc">{{ survey.etc }}</div>

    </div>

    <div class="bottom-row">

        <div class="area">Area: <span>{{ survey.area }}</span></div>

        <div *ngIf="survey.expireDate" class="date">
            {{ "page-surveys.expires-on" | translate}}:
            {{ survey.expireDate | date: undefined:undefined:locale}}
        </div>

        <div *ngIf="survey.completionDate" class="date">
            {{ survey.completionDate | date: undefined:undefined:locale }}
        </div>

    </div>

</div>
