.marker-cluster-events {
  background-color: rgba(255, 121, 97, 0.61);

  div {
    background-color: rgba(244, 67, 54, 0.6);
  }
}

.marker-cluster-user-obs {
  background-color: rgba(0, 167, 185, 0.6);

  div {
    background-color: rgba(0, 120, 136, 0.6);
  }
}

.marker-cluster-obs {
  background-color: rgba(255, 255, 255, 0.6);

  div {
    background-color: rgba(225, 225, 225, 0.6);
  }
}
