<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-menu-button menu="main"></ion-menu-button>
		
		</ion-buttons>
		
		<ion-title>{{"drawer.item-news" | translate}}</ion-title>
		
		<ion-buttons slot="end" *ngIf="selectedSegment === segmentsEnum.EVENTS">
			
			<ion-button>
				
				<ion-icon name="funnel"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>
	
	<ion-segment (ionChange)="onSegmentChange($event)">
		
		<ion-segment-button value="{{ segmentsEnum.ALERTS }}" checked="true">
			
			<section>
				
				<ion-label>{{"page-news.segment-alerts" | translate}}</ion-label>
				
				<div class="notification-dot" [class.visible]="newAlerts"></div>
			
			</section>
		
		</ion-segment-button>
		
		<ion-segment-button value="{{ segmentsEnum.EVENTS }}">
			
			<section>
				
				<ion-label>{{"page-news.segment-events" | translate}}</ion-label>
				
				<div class="notification-dot active" [class.visible]="newEvents"></div>
			
			</section>
		
		</ion-segment-button>
	
	</ion-segment>

</ion-header>


<ion-content class="bg-off-white">
	
	<!-- Refresh -->
	<ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
		
		<ion-refresher-content></ion-refresher-content>
	
	</ion-refresher>
	
	
	<!-- Spinner -->
	<section *ngIf="isLoading" class="central-spinner">
		
		<ion-spinner color="primary"></ion-spinner>
	
	</section>
	
	
	<!-- Data -->
	<section *ngIf="!isLoading" class="full-size data-container">
		
		<app-alerts *ngIf="selectedSegment === segmentsEnum.ALERTS"
					[alerts]="alerts" [hasError]="alertError"></app-alerts>
		
		<app-events *ngIf="selectedSegment === segmentsEnum.EVENTS"
					[events]="events" [hasError]="eventError"></app-events>
	
	</section>

</ion-content>
