<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-back-button class="back-button" defaultHref="news"></ion-back-button>
		
		</ion-buttons>
		
		<!-- Title -->
		<ion-title>{{ event.title }}</ion-title>
	
	</ion-toolbar>

</ion-header>


<ion-content class="bg-off-white custom-container">
	
	<!-- Description -->
	<section class="description">
		
		<div class="card-header">{{"page-news.single-event.header-description" | translate}}</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content>{{ event.description }}</ion-card-content>
		
		</ion-card>
	
	</section>
	
	
	<!-- Details -->
	<section class="details">
		
		<div class="card-header">{{"page-news.single-event.header-details" | translate}}</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content>
				
				<!-- Address -->
				<div class="row ion-padding-bottom">
					
					<ion-icon name="navigate"></ion-icon>
					
					<div>{{ event.address }}</div>
				
				</div>
				
				<!-- Time -->
				<div class="row">
					
					<ion-icon name="calendar"></ion-icon>
					
					<div>
						
						{{ event.date | date:"fullDate":undefined:locale | titlecase }}
						{{"page-news.single-event.at" | translate}}
						{{ event.date | date:"shortTime":undefined:locale }}
					
					</div>
				
				</div>
			
			</ion-card-content>
		
		</ion-card>
	
	</section>
	
	
	<!-- Contacts -->
	<section class="contacts">
		
		<div class="card-header">{{"page-news.single-event.header-contacts" | translate}}</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content>
				
				<div *ngIf="event.contacts.email" class="row ion-padding-bottom">
					
					<ion-icon name="mail"></ion-icon>
					
					<div>{{ event.contacts.email }}</div>
				
				</div>
				
				<div *ngIf="event.contacts.phone" class="row" (click)="onPhoneClick()">
					
					<ion-icon name="call"></ion-icon>
					
					<div>{{ event.contacts.phone }}</div>
				
				</div>
			
			</ion-card-content>
		
		</ion-card>
	
	</section>

</ion-content>

