<section class="ion-padding">
	
	
	<!-- Heading -->
	<p class="heading">{{"page-new-obs.modal-choices.heading" | translate}}</p>
	
	
	<!-- Send button -->
	<ion-button expand="block" color="primary" (click)="closeModal(_choices.SEND)">
		
		<ion-icon slot="start" name="ios-send"></ion-icon>
		
		{{"page-new-obs.modal-choices.btn-send" | translate}}
	
	</ion-button>
	
	<!-- Or -->
	<p class="or ion-margin">{{"page-new-obs.modal-choices.or" | translate}}</p>
	
	<!-- Add measure button -->
	<ion-button expand="block" color="primary" (click)="closeModal(_choices.ADD_MEASURE)">
		
		<ion-icon slot="start" name="ios-flask"></ion-icon>
		
		{{"page-new-obs.modal-choices.btn-add" | translate}}
	
	</ion-button>
	
	<!-- Or -->
	<p class="or ion-margin">{{"page-new-obs.modal-choices.or" | translate}}</p>
	
	<!-- Alert authorities button -->
	<ion-button expand="block" color="primary" (click)="closeModal(_choices.CALL_AUTH)">
		
		<ion-icon slot="start" name="call"></ion-icon>
		
		{{"page-new-obs.modal-choices.btn-call" | translate}}
	
	</ion-button>
	
	
	<!-- Call -->
	<!--	<div>-->
	<!--		-->
	<!--		<hr>-->
	<!--		-->
	<!--		&lt;!&ndash; First part of the message &ndash;&gt;-->
	<!--		<p class="msg-call">{{"page-new-obs.modal-choices.msg-call-1" | translate}}</p>-->
	<!--		-->
	<!--		-->
	<!--		&lt;!&ndash; Call button &ndash;&gt;-->
	<!--		<ion-button expand="block" color="primary" class="ion-margin" fill="outline">-->
	<!--			-->
	<!--			<ion-icon slot="start" ios="ios-call" md="md-call"></ion-icon>-->
	<!--			-->
	<!--			3349939444-->
	<!--		-->
	<!--		</ion-button>-->
	<!--		-->
	<!--		-->
	<!--		&lt;!&ndash; Second part of the message &ndash;&gt;-->
	<!--		<p class="msg-call ion-margin-bottom">{{"page-new-obs.modal-choices.msg-call-2" | translate:_msgParam}}</p>-->
	<!--		-->
	<!--		-->
	<!--		&lt;!&ndash; Randomly generated code &ndash;&gt;-->
	<!--		<p class="code">1234</p>-->
	<!--	-->
	<!--	-->
	<!--	</div>-->
	
	
	<!-- Cancel button -->
	<div class="btn-cancel-container" (click)="closeModal(_choices.NO_ACTION)">
		
		<ion-button size="small" color="primary" fill="clear">{{"common.alerts.btn-cancel" | translate}}</ion-button>
	
	</div>


</section>
