<ion-header>
  
  <ion-toolbar>
    
    <ion-buttons slot="start">
      
      <ion-button (click)="closeModal()">
        
        <ion-icon name="arrow-back"></ion-icon>
      
      </ion-button>
    
    </ion-buttons>
    
    <ion-title>{{"page-settings.account.changePassword.head" | translate}}</ion-title>
  
  </ion-toolbar>

</ion-header>

<ion-content class="bg-off-white custom-container">
  
  <ion-item class="val-input">
    <ion-label position="floating">{{'page-settings.account.changePassword.oldPassword' | translate}}</ion-label>
    <ion-input type="password"
               inputmode="password"
               [(ngModel)]="oldPassword"></ion-input>
  </ion-item>
  
  <ion-item class="val-input no-margin">
    <ion-label position="floating">{{'page-settings.account.changePassword.newPassword' | translate}}</ion-label>
    <ion-input type="password"
               inputmode="password"
               [(ngModel)]="password"></ion-input>
  </ion-item>
  
  <p class="small password-rules">
    {{'page-auth.modalRegister.passwordRules' | translate}}
  </p>
  
  <ion-item class="val-input">
    <ion-label position="floating">{{'page-settings.account.changePassword.confirmNewPassword' | translate}}</ion-label>
    <ion-input type="password"
               inputmode="password"
               [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>
  
  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="onConfirmClick()">
    {{"page-settings.account.btn-confirm" | translate}}
  </ion-button>

</ion-content>
