<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-back-button class="back-button" defaultHref="map"></ion-back-button>
		
		</ion-buttons>
		
		<ion-title>{{"page-new-obs.title" | translate}}</ion-title>
		
		<ion-buttons slot="end">
			
			<ion-button>
				
				<ion-icon name="help-circle-outline"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>

<ion-content class="bg-off-white custom-container">
	
	
	<p class="info-small">{{"page-new-obs.info-mandatory" | translate}}</p>
	
	
	<section id="location">
		
		<div class="heading">
			
			<ion-icon ios="ios-pin" md="md-pin" class="main"></ion-icon>
			
			<p class="title">{{"page-new-obs.location.title" | translate}}</p>
			
			<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
		
		</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content>
				
				<p>Via Roma 16, Como</p>
				
				<ion-icon ios="ios-create" md="md-create"></ion-icon>
				
				<ion-icon ios="ios-locate" md="md-locate"></ion-icon>
			
			</ion-card-content>
		
		</ion-card>
	
	</section>
	
	
	<section id="weather">
		
		<div class="heading">
			
			<ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
			
			<p class="title">{{"page-new-obs.weather.title" | translate}}</p>
			
			<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
		
		</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content></ion-card-content>
		
		</ion-card>
	
	</section>
	
	
	<section id="details">
		
		<div class="heading">
			
			<ion-icon name="ios-more"></ion-icon>
			
			<p class="title">{{"page-new-obs.details.title" | translate}}</p>
		
		</div>
		
		<ion-card class="ion-no-margin">
			
			<ion-card-content class="ion-no-padding">
				
				<ion-list class="ion-no-padding">
					
					<ion-item *ngFor="let detail of detailsList" button detail="true">
						
						<ion-checkbox slot="start"></ion-checkbox>
						
						<ion-label class="ion-no-margin">
							
							{{"page-new-obs.details." + detail + ".title" | translate}}
							
							<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
						
						</ion-label>
					
					</ion-item>
				
				</ion-list>
			
			</ion-card-content>
		
		</ion-card>
	
	</section>

</ion-content>
