<ion-header>
	
	<ion-toolbar>
		
		<ion-buttons slot="start">
			
			<ion-back-button class="back-button" defaultHref="map"></ion-back-button>
		
		</ion-buttons>
		
		<ion-title>{{"page-new-obs.title" | translate}}</ion-title>
		
		<ion-buttons slot="end">
			
			<ion-button (click)="onHelpClick()">
				
				<ion-icon name="help-circle-outline"></ion-icon>
			
			</ion-button>
		
		</ion-buttons>
	
	</ion-toolbar>

</ion-header>

<ion-content class="bg-off-white custom-container">
	
	
	<main *ngIf="!_isLoading">
		
		
		<p class="info-small">{{"page-new-obs.info-mandatory" | translate}}</p>
		
		
		<section id="location">
			
			<div class="heading">
				
				<ion-icon ios="ios-pin" md="md-pin" class="main"></ion-icon>
				
				<p class="title">{{"page-new-obs.location.title" | translate}}</p>
				
				<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
			
			</div>
			
			<ion-card class="ion-no-margin">
				
				<ion-card-content>
					
					<p>{{_position.address || "page-new-obs.location.not-recognized" | translate }}</p>
					
					<ion-icon ios="ios-create" md="md-create" (click)="onLocationEditClick()"></ion-icon>
					
					<ion-icon ios="ios-locate" md="md-locate" (click)="onLocateClick()"></ion-icon>
				
				</ion-card-content>
			
			</ion-card>
		
		</section>
		
		
		<section id="weather">
			
			<div class="heading">
				
				<ion-icon ios="ios-sunny" md="md-sunny" class="main"></ion-icon>
				
				<p class="title">{{"page-new-obs.weather.title" | translate}}</p>
				
				<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
			
			</div>
			
			<ion-card class="ion-no-margin">
				
				<ion-card-content>
					
					<div (click)="onWeatherClick('temperature')">
						
						<p class="label">{{"page-new-obs.weather.temperature" | translate}}</p>
						
						<p class="val">{{_weather.temperature}} °C</p>
					
					</div>
					
					<div (click)="onSkyClick()">
						
						<p class="label">{{"page-new-obs.weather.sky.title" | translate}}</p>
						
						<i class="wi {{skyIcons[_weather.sky.code]}}"></i>
					
					</div>
					
					<div (click)="onWeatherClick('wind')">
						
						<p class="label">{{"page-new-obs.weather.wind" | translate}}</p>
						
						<p class="val">{{_weather.wind}} m/s</p>
					
					</div>
				
				</ion-card-content>
			
			</ion-card>
		
		</section>
		
		
		<section id="details">
			
			<div class="heading">
				
				<ion-icon name="ios-more" class="main"></ion-icon>
				
				<p class="title">{{"page-new-obs.details.title" | translate}}</p>
			
			</div>
			
			<ion-card class="ion-no-margin">
				
				<ion-card-content class="ion-no-padding">
					
					<ion-list class="ion-no-padding">
						
						<ion-item *ngFor="let detail of _details | keyvalue: originalOrder" button detail="true">
							
							<ion-checkbox slot="start" [(ngModel)]="detail.value.checked"></ion-checkbox>
							
							<ion-label class="ion-no-margin">
								
								{{"page-new-obs.details." + detail.key + ".title" | translate}}
								
								<ion-icon name="help-circle-outline" class="btn-icon"></ion-icon>
							
							</ion-label>
						
						</ion-item>
					
					</ion-list>
				
				</ion-card-content>
			
			</ion-card>
			
			<p class="sub-heading">{{"page-new-obs.details.other-title" | translate}}</p>
			
			<ion-textarea placeholder="{{'page-new-obs.details.other-ph' | translate}}"
						  maxlength="250"></ion-textarea>
		
		</section>
		
		
		<section id="photos">
			
			<div class="heading">
				
				<ion-icon ios="ios-camera" md="md-camera" class="main"></ion-icon>
				
				<p class="title">{{"page-new-obs.photos.title" | translate}}</p>
			
			</div>
			
			<div class="photos-container">
			
				<div class="photo">
					
					<i class="material-icons">add_a_photo</i>
				
				</div>
				
				<div class="photo">
					
					<i class="material-icons">add_a_photo</i>
				
				</div>
				
				<div class="photo">
					
					<i class="material-icons">add_a_photo</i>
				
				</div>
			
			</div>
		
		</section>
		
		
		<ion-button color="primary" expand="block" class="ion-margin-bottom" (click)="onContinueClick()">
			{{"page-new-obs.btn-continue" | translate}}
		</ion-button>
	
	
	</main>
	
	
	<section *ngIf="_isLoading" class="skeleton">
		
		<ion-skeleton-text animated class="ske-info-sm"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-heading"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-card-sm ske-section"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-heading"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-card-sm ske-section"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-heading"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-card-xl ske-section"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-heading"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-card-md ske-section"></ion-skeleton-text>
		
		<ion-skeleton-text animated class="ske-btn-block ion-margin-bottom"></ion-skeleton-text>
	
	</section>


</ion-content>
