@import "../../../../theme/variables";

$info-small-margin     : 18px;
$section-margin-bottom : 32px;
$heading-margin-bottom : 8px;
$color-border          : #E1E1E1;


.info-small {
  color         : $text-tertiary;
  font-size     : $font-body-small;
  margin-bottom : $info-small-margin;
}


main section {
  margin-bottom : $section-margin-bottom;

  .heading {
    display       : flex;
    align-items   : center;
    color         : $text-tertiary;
    font-size     : $font-body-lg;
    margin-bottom : $heading-margin-bottom;

    ion-icon {
      font-size : $font-title;

      &.main { margin-right : 14px }

      &.btn-icon { padding : 12px }

    }

  }

  .sub-heading {
    color     : $text-tertiary;
    font-size : $font-body;
    margin    : 24px 0 8px 16px;
  }


  &#location {

    ion-card-content {
      display         : flex;
      flex-direction  : row;
      justify-content : space-between;
      align-items     : center;
      min-width       : 0;
      color           : #000000;
      padding         : 4px 8px 4px 16px;

      p {
        font-size     : $font-body;
        margin        : 0;
        flex          : 1;
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
      }

      ion-icon {
        font-size : $font-title;
        color     : $text-tertiary;
        padding   : 12px 8px;
      }

    }

  }


  &#weather {

    ion-card-content {
      display         : flex;
      justify-content : space-between;
      align-items     : initial;

      div {
        width      : 33%;
        text-align : center;
        color      : $text-primary;

        .label { margin-bottom : 8px }

        .val {
          font-size : $font-body-lg;
          color     : var(--ion-color-primary);
        }

        i {
          font-size : $font-title;
          color     : var(--ion-color-primary);
        }

      }

    }

  }


  &#details {

    .heading { margin-bottom : 20px }

    ion-label {
      display     : flex;
      align-items : center;

      ion-icon {
        font-size : $font-title;
        padding   : 12px;
        color     : $text-tertiary;
      }

    }

    ion-textarea {
      --background    : #FFFFFF;
      border          : 1px solid $color-border;
      --border-radius : 5px;

    }

  }


  &#photos {
    margin-bottom : 48px;

    .heading { margin-bottom : 16px }

    .photos-container {
      width           : 100%;
      display         : flex;
      justify-content : space-around;
      align-items     : center;

      .photo {
        width           : 80px;
        height          : 80px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        border          : 1px solid darken($color-border, 5);
        border-radius   : 10px;

        i { color : var(--ion-color-primary) }

      }

    }

  }

}


.skeleton {
  border-radius : 5px;

  .ske-info-sm {
    width         : 40%;
    margin-bottom : $info-small-margin;
  }

  .ske-section { margin-bottom : $section-margin-bottom }

  .ske-heading {
    width         : 50%;
    margin-bottom : $heading-margin-bottom;
    line-height   : $font-title;
  }

  .ske-card-sm { line-height : 60px }

  .ske-card-md { line-height : 100px }

  .ske-card-xl { line-height : 350px }

  .ske-btn-block { line-height : 45px }

}
