<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">

            <ion-menu-button menu="main"></ion-menu-button>

        </ion-buttons>

        <ion-title>{{"drawer.item-info" | translate}}</ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="bg-off-white custom-container">

    <div class="card-header">{{"page-info.header-project" | translate}}</div>

    <ion-card>

        <ion-card-content>

            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
            in the woods. Wash your spirit clean.

        </ion-card-content>

    </ion-card>

    <div class="card-header">{{"page-info.header-contributions" | translate}}</div>

    <ion-card>

        <ion-card-content>

            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
            in the woods. Wash your spirit clean.

        </ion-card-content>

    </ion-card>

    <div class="card-header">{{"page-info.header-contacts" | translate}}</div>

    <ion-card>

        <ion-card-content>

            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
            in the woods. Wash your spirit clean.

        </ion-card-content>

    </ion-card>

</ion-content>
