@import "variables";
@import "mixins";


.full-size {
  width  : 100%;
  height : 100%;
}


.bg-off-white {
  --background : $off-white;
  background   : $off-white;
}


.custom-container {
  width            : 100%;
  --padding-top    : 16px;
  --padding-bottom : 16px;
  --padding-start  : 16px;
  --padding-end    : 16px;
}


.on-page-message {
  @include flex-display(column, center, center);
  padding-top : 32px;
  color       : $text-tertiary;

  ion-icon {
    font-size      : 32px;
    padding-bottom : 8px;
  }

  p { font-size : $font-title-lg }

}


.card-header {
  font-size      : 14px;
  color          : #737373;
  text-transform : uppercase;
}

ion-card {
  background   : #FFFFFF !important;
  color        : #000000 !important;
  margin-left  : 0 !important;
  margin-right : 0 !important;

  &.md { margin-bottom : 24px !important }

}

.central-spinner {
  width  : 100%;
  height : 100%;
  @include flex-center();
}


.notification-dot {
  width         : 10px;
  height        : 10px;
  border-radius : 50%;
  background    : transparent;
  border        : 1px solid #707070;

  &.active {
    background : var(--ion-color-danger);
    border     : none;
  }

}
