@import "variables";
@import "mixins";


p { margin : 0 }


.full-size {
  width  : 100%;
  height : 100%;
}


.bg-off-white {
  --background : #{$off-white};
  background   : $off-white;
}


.custom-container {
  width            : 100%;
  --padding-top    : 16px;
  --padding-bottom : 16px;
  --padding-start  : 16px;
  --padding-end    : 16px;
  padding          : 16px;
}


.on-page-message {
  @include flex-display(column, center, center);
  padding-top : 32px;
  color       : $text-tertiary;

  ion-icon {
    font-size      : 32px;
    padding-bottom : 8px;
  }

  p { font-size : $font-title-lg }

}


/* Cards */
.card-header {
  font-size      : 14px;
  color          : $text-card-header;
  text-transform : uppercase;
  padding-bottom : 16px;
}

ion-card {
  background : #FFFFFF !important;

  ion-card-content {

    &.card-content-md {
      font-size : $font-body;

      p {
        margin    : 0;
        font-size : $font-body;
      }

    }

  }

}


/* Spinner */
.central-spinner {
  width  : 100%;
  height : 100%;
  @include flex-center();
}


/* Notification dot */
.notification-dot {
  width         : 10px;
  height        : 10px;
  border-radius : 50%;
  background    : transparent;
  border        : 1px solid #707070;

  &.active {
    background : var(--ion-color-danger);
    border     : none;
  }

}


/* Modals */
ion-modal.auto-height {
  --height : auto;

  .modal-wrapper {
    width         : 90vw;
    border-radius : 5px;

    .ion-page {
      position   : relative;
      contain    : content;
      max-height : 90vh;

      .modal-content { overflow : auto }

    }

  }

}


ion-alert .alert-checkbox-label{
  white-space: pre-wrap;
}
