/** Custom Sass Variables **/

// Font size
$font-title-lg    : 24px;
$font-title       : 20px;
$font-body        : 16px;
$font-body-small  : 14px;

// Colors
$off-white        : #F7F7FA;
$text-secondary   : #666666;
$text-tertiary    : #A2A2A5;
$text-card-header : #737373;
$text-unfocused   : #DCDCDC;


/** Ionic CSS Variables **/

:root {
  --ion-color-primary                : #007888;
  --ion-color-primary-rgb            : 0, 120, 136;
  --ion-color-primary-contrast       : #FFFFFF;
  --ion-color-primary-contrast-rgb   : 255, 255, 255;
  --ion-color-primary-shade          : #006A78;
  --ion-color-primary-tint           : #1A8694;

  --ion-color-secondary              : #0CD1E8;
  --ion-color-secondary-rgb          : 12, 209, 232;
  --ion-color-secondary-contrast     : #FFFFFF;
  --ion-color-secondary-contrast-rgb : 255, 255, 255;
  --ion-color-secondary-shade        : #0BB8CC;
  --ion-color-secondary-tint         : #24D6EA;

  --ion-color-tertiary               : #7044FF;
  --ion-color-tertiary-rgb           : 112, 68, 255;
  --ion-color-tertiary-contrast      : #FFFFFF;
  --ion-color-tertiary-contrast-rgb  : 255, 255, 255;
  --ion-color-tertiary-shade         : #633CE0;
  --ion-color-tertiary-tint          : #7E57FF;

  --ion-color-success                : #10DC60;
  --ion-color-success-rgb            : 16, 220, 96;
  --ion-color-success-contrast       : #FFFFFF;
  --ion-color-success-contrast-rgb   : 255, 255, 255;
  --ion-color-success-shade          : #0EC254;
  --ion-color-success-tint           : #28E070;

  --ion-color-warning                : #FFCE00;
  --ion-color-warning-rgb            : 255, 206, 0;
  --ion-color-warning-contrast       : #FFFFFF;
  --ion-color-warning-contrast-rgb   : 255, 255, 255;
  --ion-color-warning-shade          : #E0B500;
  --ion-color-warning-tint           : #FFD31A;

  --ion-color-danger                 : #F04141;
  --ion-color-danger-rgb             : 245, 61, 61;
  --ion-color-danger-contrast        : #FFFFFF;
  --ion-color-danger-contrast-rgb    : 255, 255, 255;
  --ion-color-danger-shade           : #D33939;
  --ion-color-danger-tint            : #F25454;

  --ion-color-dark                   : #222428;
  --ion-color-dark-rgb               : 34, 34, 34;
  --ion-color-dark-contrast          : #FFFFFF;
  --ion-color-dark-contrast-rgb      : 255, 255, 255;
  --ion-color-dark-shade             : #1E2023;
  --ion-color-dark-tint              : #383A3E;

  --ion-color-medium                 : #989AA2;
  --ion-color-medium-rgb             : 152, 154, 162;
  --ion-color-medium-contrast        : #FFFFFF;
  --ion-color-medium-contrast-rgb    : 255, 255, 255;
  --ion-color-medium-shade           : #86888F;
  --ion-color-medium-tint            : #A2A4AB;

  --ion-color-light                  : #F4F5F8;
  --ion-color-light-rgb              : 244, 244, 244;
  --ion-color-light-contrast         : #000000;
  --ion-color-light-contrast-rgb     : 0, 0, 0;
  --ion-color-light-shade            : #D7D8DA;
  --ion-color-light-tint             : #F5F6F9;

  --ion-toolbar-background           : var(--ion-color-primary);
  --ion-toolbar-color                : var(--ion-color-primary-contrast);

}
