.title {
  font-size      : 24px;
  color          : var(--ion-color-primary);
  font-weight    : 500;
  padding-bottom : 8px;
}

.date {
  font-size      : 14px;
  color          : #666666;
  padding-bottom : 24px;
}

