<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">

            <ion-menu-button menu="main"></ion-menu-button>

        </ion-buttons>

        <ion-title>{{"drawer.item-surveys" | translate}}</ion-title>

    </ion-toolbar>

</ion-header>

<ion-content class="outer-content custom-container">

    <!-- Spinner -->
    <div *ngIf="isLoading" class="flex-center">

        <ion-spinner color="primary"></ion-spinner>

    </div>

    <!-- No data -->
    <div *ngIf="!isLoading && surveys.length <= 0" class="flex-center">

        <p class="no-surveys">{{"page-surveys.no-surveys" | translate}}</p>

    </div>

    <!-- List -->
    <div *ngIf="!isLoading && surveys.length > 0">

        <div class="card-header">{{"page-surveys.header-new" | translate}}</div>

        <ion-card>

            <ion-card-content>

                <ion-list>

                    <ion-item *ngFor="let survey of surveys" button detail="false" (click)="onSurveyClick()">

                        <app-survey-item [survey]="survey"></app-survey-item>

                    </ion-item>

                </ion-list>

            </ion-card-content>

        </ion-card>

    </div>

</ion-content>
