@import "../../theme/variables";

$color-border : #E1E1E1;


ion-label { white-space : normal !important }


.label-icon {
  display     : flex;
  align-items : center;
  margin      : 0;
}


.help-icon {
  font-size : $font-title;
  padding   : 12px;
  color     : $text-tertiary;
}


ion-input {

  .text-input { text-align : center }

}


ion-textarea {
  --background    : #FFFFFF;
  border          : 1px solid $color-border;
  --border-radius : 5px;
}


.card-radio-list {

  ion-card-content {
    padding : 0;

    ion-radio, ion-checkbox { margin : 0 16px 0 0 }

  }

}


section {
  margin-bottom : 32px;

  &.last { margin-bottom : 24px }

  &.instrument { padding-top : 16px }

}


.colours {

  ion-card-content {
    padding : 13px 16px;

    .colour-container {
      display         : flex;
      justify-content : space-between;
      align-items     : center;

      .colour-box {
        padding       : 4px;
        border-radius : 5px;
        border        : 1px solid transparent;

        &.selected { border : 1px solid var(--ion-color-primary) }

        .colour {
          width         : 35px;
          height        : 35px;
          border-radius : 50%;

          &.border { border : .5px solid #878787 }

        }

      }

    }

  }

}


.options-list {

  .heading { margin-bottom : 20px }

  .detail-item {
    display     : flex;
    align-items : center;
    padding     : 8px 16px 8px 24px;
    width       : 100%;

    ion-checkbox.md { width : 19.24px }

    ion-checkbox.ios { width : 30.2px }

    ion-label {
      display     : flex;
      align-items : center;
      width       : 100%;
      margin-left : 16px;
      color       : $text-primary;
      line-height : 1.2;

      ion-icon {
        font-size : $font-title;
        padding   : 12px;
        color     : $text-tertiary;

        &[name=ios-arrow-forward] {
          margin-left : auto;
          padding     : 0;
        }

      }

    }

  }

}


.info-mandatory {
  color         : $text-tertiary;
  font          : $font-body-small;
  margin-bottom : 24px;
}


.value-single {
  width       : 100%;
  display     : flex;
  align-items : center;

  p { padding-right : 16px }

}


.val-input {
  --background  : #FFFFFF;
  border-radius : 5px;
  border        : 1px solid $color-border;

  &.compact {
    --padding-top    : 6px;
    --padding-bottom : 6px;
    --padding-start  : 6px;
    --padding-end    : 6px;
  }

}


.measure-type {

  .card-header { padding-bottom : 8px }

  ion-segment { margin-bottom : 24px }

  .grid {
    width           : 100%;
    display         : flex;
    justify-content : space-around;
    align-items     : flex-start;

    .col {
      width          : 40%;
      display        : flex;
      flex-direction : column;
      align-items    : center;

      ion-select {
        --padding-top    : 0;
        --padding-bottom : 8px;
      }

      p { margin-bottom : 8px }

      ion-input {
        margin-top : 8px;
        width      : 70%;
      }

    }

  }

  .buttons {
    margin-top      : 10px;
    display         : flex;
    justify-content : center;
    align-items     : center;

    ion-button {
      --padding-start  : 8px;
      --padding-end    : 8px;
      --padding-top    : 8px;
      --padding-bottom : 8px;
    }

  }

}
