@import "../../theme/variables";
@import "../../theme/mixins";

$color-border : #E1E1E1;

.logo-bg {
  width         : 100%;
  height        : 20%;
  margin-bottom : 32px;
  @include flex-center;
  padding-top   : 20px;

  img {
    max-width  : 100%;
    max-height : 100%;
  }

}

.login-container {
  margin-bottom : 72px;
}

.val-input {
  --background  : #FFFFFF;
  border-radius : 5px;
  border        : 1px solid $color-border;
  margin-bottom : 8px;

  &.no-margin {
    margin-bottom : 0;
  }

  ion-label {
    margin-right : 8px;
  }

}
