<ion-header>
	<ion-toolbar color="dark">
		<!-- Back button -->
		<ion-buttons slot="start">
			<ion-button (click)="onCLoseClick()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>

		<!-- Share, edit and delete buttons -->
		<ion-buttons slot="end">
			<ion-button *ngIf="edit" (click)="onEditClick()">
				<ion-icon name="create"></ion-icon>
			</ion-button>

			<ion-button *ngIf="delete" (click)="onDeleteClick()">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-slides [options]="slideOpts" zoom>
		<ion-slide>
			<div class="swiper-zoom-container img-container">
				<img [src]="sanitizer.bypassSecurityTrustUrl(src)" alt="photo" />
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>
